<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="WSLogSetting" type="WallaShops.Common.Logs.WSLogSettingSection, WallaShops.Common.Logs, Version=1.0.0.0, Culture=neutral" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <connectionStrings>
    <add name="ConnectionString" connectionString="server=devtest2008\test;User Id=sa;Password=SQLSQL; database=wbl_vcsDB;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <appSettings>
    <add key="SalesForceClientId" value="b2962abf-2842-436d-88b4-e84e2fc306d4" />
    <add key="SalesForceClientPassword" value="zfRe7rdsf_dH3p2bd1SvD_2" />
    <add key="SalesForceUserName" value="ran@wallashops.co.il" />
    <add key="SalesForceUserPassword" value="Xx%123456" />
    <add key="SalesForceHostName" value="staging-eu02-walla.demandware.net" />
    <add key="SalesForceOcapiVersion" value="20_4" />
    <add key="SalesForceMasterCatalog" value="wallashops-m-catalog" />
    <add key="SalesForceSiteCatalog" value="wallashops-m-catalog" />
    <add key="DebugMode" value="true"/>
  </appSettings>

</configuration>
